@import "../node_modules/bulma/sass/utilities/initial-variables";

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

html, body {
  margin:0; 
  padding:0; 
  height:100vh; 
}

.section {
  padding: 1.5rem;
}

.tile.is-ancestor {
  position: relative;
}

.editor-wrapper {
  height: 70vh;
  position: relative;
}

.button:hover {
  color: $primary;
}

#editor {
    position: absolute; /* Added */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#playground-logo-container {
  overflow: hidden;
  padding-left: 10px;
  padding-top: 5px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.message {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.log-container {
  min-height: 0;
  max-height: 100%;
  position: relative;
  white-space: nowrap;
  
}

pre {
  max-height: 100%;
  height:100%;
  padding: 1em;
  overflow: scroll;
}

#title {
  display: inline-block;
}

#menu {
  float:right;
}

#main {
  flex-direction: column;
}

#logs {
  flex-direction: row;
}