@import "../node_modules/bulma/sass/utilities/initial-variables";

$yellow: #ffe953;
$title: $yellow;
$subtitle: $white;
$subtitle-strong: $white;
$white: #171921;
$body-background: #171921;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

html, body {
  margin:0; 
  padding:0; 
  height:100vh; 
}

.tile.is-ancestor {
  height: 70vh;
}

.box {
  background-color: #1b1b1b;
}

.editor-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.button {
  color: #ffffff;
}

.button:hover {
  color: $yellow;
}

#editor {
    position: absolute; /* Added */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}